In [1]:
import pandas as pd
df = pd.read_csv('User_Data.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [2]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [3]:
x = df.iloc[:,[1,2,3]].values
y = df.iloc[:,4].values

In [4]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
x[:,0] = encode.fit_transform(x[:,0])
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [5]:
from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test = tts(x,y,test_size = 0.2, random_state = 0)

In [6]:
from sklearn.preprocessing import StandardScaler
st_x = StandardScaler()
x_train = st_x.fit_transform(x_train)
x_test = st_x.transform(x_test)
x_test

array([[ 1.02532046e+00, -7.98950822e-01,  4.94607583e-01],
       [-9.75304830e-01, -2.12648508e-02, -5.77359062e-01],
       [ 1.02532046e+00, -3.12897090e-01,  1.46942725e-01],
       [-9.75304830e-01, -7.98950822e-01,  2.62831011e-01],
       [-9.75304830e-01, -3.12897090e-01, -5.77359062e-01],
       [ 1.02532046e+00, -1.09058306e+00, -1.44652121e+00],
       [-9.75304830e-01, -7.01740076e-01, -1.59138156e+00],
       [ 1.02532046e+00, -2.15686344e-01,  2.14601566e+00],
       [-9.75304830e-01, -1.96547978e+00, -5.58617754e-02],
       [ 1.02532046e+00,  8.53631867e-01, -7.80163563e-01],
       [ 1.02532046e+00, -7.98950822e-01, -6.06331134e-01],
       [-9.75304830e-01, -9.93372315e-01, -4.32498705e-01],
       [ 1.02532046e+00, -1.18475597e-01, -4.32498705e-01],
       [ 1.02532046e+00,  7.59458956e-02,  2.04886868e-01],
       [ 1.02532046e+00, -1.77105829e+00,  4.65635512e-01],
       [-9.75304830e-01, -6.04529329e-01,  1.36376973e+00],
       [ 1.02532046e+00, -1.18475597e-01,  2.04886868e-01],
       [ 1.02532046e+00, -1.86826903e+00,  4.36663440e-01],
       [-9.75304830e-01,  1.63131784e+00,  1.74040666e+00],
       [ 1.02532046e+00, -3.12897090e-01, -1.38857706e+00],
       [-9.75304830e-01, -3.12897090e-01, -6.64275277e-01],
       [-9.75304830e-01,  8.53631867e-01,  2.14601566e+00],
       [-9.75304830e-01,  2.70367388e-01, -5.48386991e-01],
       [ 1.02532046e+00,  8.53631867e-01,  1.01610487e+00],
       [-9.75304830e-01, -1.47942605e+00, -1.21474464e+00],
       [-9.75304830e-01,  1.04805336e+00,  2.05909944e+00],
       [-9.75304830e-01, -9.93372315e-01,  4.94607583e-01],
       [ 1.02532046e+00, -8.96161568e-01,  2.91803083e-01],
       [-9.75304830e-01, -1.18475597e-01, -2.29694204e-01],
       [-9.75304830e-01, -6.04529329e-01,  4.65635512e-01],
       [ 1.02532046e+00, -1.67384754e+00,  5.23579655e-01],
       [ 1.02532046e+00, -1.18475597e-01,  2.62831011e-01],
       [ 1.02532046e+00,  1.82573933e+00, -2.87638347e-01],
       [ 1.02532046e+00, -1.18475597e-01, -4.90442848e-01],
       [ 1.02532046e+00, -1.38221530e+00, -3.45582490e-01],
       [ 1.02532046e+00, -1.96547978e+00, -5.19414919e-01],
       [ 1.02532046e+00, -1.57663679e+00,  3.20775154e-01],
       [-9.75304830e-01, -4.10107836e-01, -7.80163563e-01],
       [-9.75304830e-01, -7.01740076e-01, -1.04091221e+00],
       [-9.75304830e-01,  1.04805336e+00, -9.82968063e-01],
       [ 1.02532046e+00, -1.09058306e+00,  5.23579655e-01],
       [ 1.02532046e+00,  2.70367388e-01, -5.19414919e-01],
       [-9.75304830e-01, -1.09058306e+00,  4.07691369e-01],
       [ 1.02532046e+00, -3.12897090e-01, -1.44652121e+00],
       [-9.75304830e-01,  4.64788881e-01,  1.21890937e+00],
       [-9.75304830e-01, -1.09058306e+00, -3.45582490e-01],
       [-9.75304830e-01, -1.18475597e-01,  2.91803083e-01],
       [-9.75304830e-01,  1.33968560e+00,  5.81523798e-01],
       [ 1.02532046e+00, -1.18779381e+00, -1.15680049e+00],
       [ 1.02532046e+00,  1.04805336e+00,  4.65635512e-01],
       [-9.75304830e-01,  1.82573933e+00,  1.50863009e+00],
       [-9.75304830e-01, -4.10107836e-01, -1.30166085e+00],
       [-9.75304830e-01, -3.12897090e-01, -3.74554562e-01],
       [ 1.02532046e+00, -4.10107836e-01,  1.30582558e+00],
       [-9.75304830e-01,  2.02016082e+00,  5.23579655e-01],
       [ 1.02532046e+00,  6.59210374e-01, -1.09885635e+00],
       [-9.75304830e-01, -8.96161568e-01,  3.78719297e-01],
       [-9.75304830e-01, -1.18779381e+00,  2.91803083e-01],
       [ 1.02532046e+00,  1.04805336e+00, -1.21474464e+00],
       [ 1.02532046e+00, -1.47942605e+00, -1.44652121e+00],
       [ 1.02532046e+00, -6.04529329e-01, -1.50446535e+00],
       [ 1.02532046e+00,  2.11737157e+00, -8.09135634e-01],
       [ 1.02532046e+00, -1.86826903e+00,  1.75914797e-01],
       [ 1.02532046e+00, -2.15686344e-01,  8.42272441e-01],
       [-9.75304830e-01, -1.86826903e+00, -1.27268878e+00],
       [ 1.02532046e+00,  2.11737157e+00,  3.78719297e-01],
       [-9.75304830e-01, -1.38221530e+00,  5.52551726e-01],
       [ 1.02532046e+00, -1.09058306e+00, -3.45582490e-01],
       [ 1.02532046e+00,  1.73156642e-01, -6.64275277e-01],
       [-9.75304830e-01,  3.67578135e-01,  2.08236764e-03],
       [-9.75304830e-01, -6.04529329e-01,  2.31984809e+00],
       [-9.75304830e-01, -3.12897090e-01,  2.04886868e-01],
       [-9.75304830e-01, -1.57663679e+00, -2.00722133e-01],
       [ 1.02532046e+00,  6.59210374e-01, -1.38857706e+00],
       [ 1.02532046e+00, -1.09058306e+00,  5.52551726e-01],
       [ 1.02532046e+00, -1.96547978e+00,  3.49747226e-01],
       [-9.75304830e-01,  3.67578135e-01,  2.62831011e-01],
       [-9.75304830e-01,  1.73156642e-01, -2.87638347e-01],
       [-9.75304830e-01,  1.43689635e+00, -1.04091221e+00],
       [-9.75304830e-01,  8.53631867e-01,  1.07404901e+00]])

In [7]:
from sklearn.svm import SVC
classifier = SVC(kernel="linear", random_state = 0)
classifier.fit(x_train, y_train)

SVC(kernel='linear', random_state=0)

In [8]:
y_pred = classifier.predict(x_test)

In [9]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[57,  1],
       [ 6, 16]], dtype=int64)